<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div z-loader></div>
                <form role="form" id="{{options.formname}}" view-mode="{{options.isView}}">
                    <div class="mb-15" id="validationDiv" ng-if="validationMessages.length!=0&&!options.ispopup">
                        <div class="alert alert-danger">
                            <div ng-repeat="valText in validationMessages">
                                <i class="alert-icon"></i>&nbsp;{{valText.Message}}
                                <span style="padding-right:80px"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div ng-repeat="item in options.fields" ng-class="load_class(item)" ng-include="load_template(item)" style="padding-bottom: 8px;" ng-if="hide_field(item,dataItem)">
                        </div>
                    </div>
                    <div class="row" ng-repeat="directive in options.directives" ng-include="load_directive(directive)">
                    </div>
                </form>
                <form role="form" id="{{options.detail.formname}}" ng-if="show_detail">
                  <div class="row">
                  </div>
                </form>
            </div>
            <div class="panel-footer" style="padding-bottom: 42px;">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" ng-if="options.showSaveButton" id="saveItem" class="btn btn-save" ng-click="save_item()">Save<i class="save-icon"></i></button>
                        <button class="btn btn-cancel" id="cancelItem" ng-click="cancel_item()">Cancel<i class="cancel-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Input Controls -->
<script type="text/ng-template" id="input_label_dp">
    {{item.lblname||item.title}}
</script>
<script type="text/ng-template" id="text">
    <label for="{{item.name}}" class="required" ng-include="load_input_label_dp(item)"></label>
    <input type="text" ng-model="dataItem[item.name]" id="txt{{item.name}}" data-validationtype="{{item.datavalidationtype}}" class="form-control" ng-class="load_inputcontrol_class(item)" placeholder="{{item.lblname||item.title}}" ng-disabled="item.disabled" {{item.inputdirectives}} />
</script>

<script type="text/ng-template" id="Addresses">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <address-module address-objects="dataItem[directive.name]" is-view="isView" ng-model="dataItem[directive.name]" ad-id="vm.adId" ad-type="'company'"></address-module>
    </div>

</script>

<script type="text/ng-template" id="Communication">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <communication json-string="communicationString" ng-model="dataItem[directive.name]" is-view="isView"></communication>
    </div>
</script>

<script type="text/ng-template" id="select">
    <label for="{{item.name}}" class="required">{{item.lblname}}</label>
    <select ng-model="dataItem[item.name]" ng-change="ddl_change(item)" id="ddl{{item.name}}" data-validationtype="{{item.datavalidationtype}}" class="form-control" ng-class="load_inputcontrol_class(item)" ng-disabled="item.disabled">
        <option value="">{{item.options.selectlabel||'Select Option'}}</option>
        <option ng-repeat="ddlitem in load_ddl_source(item)" value="{{ddlitem[item.options.valuefield]}}">
            {{ddlitem[item.options.textfield]}}
        </option>
    </select>
</script>

<script type="text/ng-template" id="textarea">
    <label for="{{item.name}}" class="required">{{item.lblname||item.title}}</label>
    <textarea ng-model="dataItem[item.name]" class="form-control" id="txtarea{{item.name}}" data-validationtype="{{item.datavalidationtype}}" ng-class="load_inputcontrol_class(item)" ng-disabled="item.disabled" placeholder="{{item.lblname||item.title}}"></textarea>
</script>

<script type="text/ng-template" id="date">
    <label for="{{item.name}}" class="required">{{item.lblname}}</label>

    <div class="input-group custtop-22p">
        <input type="text" show-button-bar="false" data-validationtype="{{item.datavalidationtype}}" data-format="{{dateFormat}}" placeholder="{{dateFormat}}"
               id="{{item.name}}" class="form-control {{item.clases}}" uib-datepicker-popup="{{dateFormat}}" ng-model="dataItem[item.name]" is-open="datePickers[item.name]" datepicker-options="dateOptions"
               ng-disabled="item.disabled" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default p-8-15"
                    ng-click="openDatePicker($event,item.name)"
                    ng-disabled="item.disabled">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</script>

<script type="text/ng-template" id="checkbox">
    <label>&nbsp;</label>
    <div class="checkbox">
        <input type="checkbox" class="checkbox " ng-model="dataItem[item.name]" data-validationtype="{{item.datavalidationtype}}" ng-class="load_inputcontrol_class(item)" ng-disabled="item.disabled" />
        <label>{{item.lblname||item.title}}</label>
    </div>
</script>

<!-- Grid Controls -->

<script type="text/ng-template" id="grid">
    <h4 class="color-wrapper-border stripmand">{{item.lblname}}</h4>
    <div class="table-responsive">
        <table class="st-table table table-custom table-strip mb-0 {{item.tabclass}}" style="overflow:auto;">
            <thead>
                <tr>
                    <th ng-repeat="griditem in item.fields" ng-if="hide_field(griditem,dataItem,griditem)">{{griditem.lblname}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="mb-0 mt-0" ng-repeat="griddataitem in dataItem[item.name]">
                    <td class="mb-0 mt-0" ng-repeat="griditem in item.fields" ng-if="hide_field(griditem,dataItem,griditem)" ng-include="load_grid_td(griditem)"></td>
                </tr>
            </tbody>
            <tfoot ng-if="item.footmodel" ng-include="load_tfoot(item)">
               
            </tfoot>
        </table>
    </div>
</script>
<script type="text/ng-template" id="detailgrid">
    <label for="detailgrid">&nbsp;</label>
    <detail-form options="options.detailOptions" detailitem="{}"></detail-form>
</script>
<script type="text/ng-template" id="tfoot">
    <tr>
        <td><label><strong>Grand Total </strong></label></td>
        <td ng-repeat="tfoot in dataItem[item.footmodel]">
            {{tfoot}}
        </td>
    </tr>
</script>
<!-- Other Stuff -->

<script type="text/ng-template" id="td_display">
    {{griddataitem[griditem.name]}}
</script>

<script type="text/ng-template" id="sub_heading">
    <h4 class="color-wrapper-border">{{item.lblname}}</h4>
</script>

